@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --ff-body: 'Red Hat Display', sans-serif;
  --ff-headers: 'Red Hat Display', sans-serif;
  /* font colors */
  --fc-light-blue: hsl(224, 23%, 55%);
  --fc-blue: hsl(245, 75%, 52%);
  --fc-dark-blue: hsl(223, 47%, 23%);
  --fc-white: hsl(0, 0%, 100%);
  --fc-purple: hsl(245, 75%, 72%);

  /* bg colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-blue: hsl(245, 75%, 52%);
  --bg-light-blue: hsl(224, 23%, 55%);
  --bg-lighter-blue: hsl(225, 100%, 94%);
  --bg-vlight-blue: hsl(225, 100%, 98%);
  --bg-purple: hsl(245, 75%, 72%);
}

/* reusable classes */
.btn {
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.flex-container {
  display: flex;
}

/* card styling */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--bg-vlight-blue);

  font-family: var(--ff-body);
  font-weight: 500;
  line-height: 1.4;
  color: var(--fc-light-blue);
}

.card-wrapper {
  max-width: 25rem;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img {
  height: 13rem;
  width: 100%;
  object-fit: cover;
}

.card-content {
  background-color: var(--bg-white);
  padding: 2rem 3rem;
  text-align: center;

  display: grid;
  gap: 1.5rem;
}

.card-title {
  font-size: 1.4rem;
  color: var(--fc-dark-blue);
  font-weight: 900;
}

.payment-container {
  background-color: var(--bg-vlight-blue);
  padding: 1rem;
  border-radius: 0.5rem;

  align-items: center;
  justify-content: space-between;
}

.payment-container .plan-title {
  color: var(--fc-dark-blue);
  font-weight: 700;
}

.payment-container .plan-price {
  display: block;
  font-weight: 500;
  color: var(--fc-light-blue);
}

.payment-container .payment-left {
  align-items: center;
  gap: 1rem;
}

.payment-container .music-icon {
  background: var(--bg-lighter-blue);
  padding: 0.7rem;
  border-radius: 50%;
}

/* buttons */
.btn--price {
  background: transparent;
  text-decoration: underline;
  font-weight: 700;
  color: var(--fc-blue);
}

.btn--price:hover {
  color: var(--fc-purple);
}

.btn--main {
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--fc-white);
  background-color: var(--bg-blue);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btn--main:hover {
  background: var(--fc-purple);
}

.btn--cancel:hover {
  color: var(--fc-dark-blue);
}
